workflow/Ɔboafoɔ-workflow.json.json
{
  "name": "Ɔboafoɔ",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-sales-lead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        0
      ],
      "id": "5a07df12-9350-44fa-ad7e-da73fe8141ed",
      "name": "Receive Voice Lead",
      "webhookId": "5616bead-cef0-4e61-9efc-b0e5875cfb63"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DP3LEywniSXjy82hEGG5eNTUZ0EMCYmgQXWZE_J1Boc",
          "mode": "list",
          "cachedResultName": "Ɔboafoɔ Sales CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DP3LEywniSXjy82hEGG5eNTUZ0EMCYmgQXWZE_J1Boc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DP3LEywniSXjy82hEGG5eNTUZ0EMCYmgQXWZE_J1Boc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "Phone": "={{ $json.body.phone }}",
            "Interest": "={{ $json.body.interest }}",
            "Problem": "={{ $json.body.problem }}",
            "Budget": "={{ $json.body.budget }}",
            "Timeline": "={{ $json.body.timeline }}",
            "Qualification Status": "={{ $json.body.qualification_status }}",
            "Company": "={{ $json.body.company }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interest",
              "displayName": "Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Problem",
              "displayName": "Problem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timeline",
              "displayName": "Timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualification Status",
              "displayName": "Qualification Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        0
      ],
      "id": "1355aa7c-fbd9-4024-9c74-6dfa7dc855e4",
      "name": "Save Lead to CRM",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O9FMujrunGe8ZroP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1197857853",
        "text": "=🚨 New Lead from Ɔboafoɔ  \n\nName: {{ $json.Name }}  \nCompany: {{ $json.Company }} \nInterest:  {{ $json.Interest }} \nProblem: {{ $json.Problem }} \nBudget: {{ $json.Budget }} \nTimeline: {{ $json.Timeline }} \nStatus: {{ $json['Qualification Status'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "5a32c149-3629-4d81-a429-dbc418802368",
      "name": "Notify Sales Team",
      "webhookId": "6d655d7f-a4c5-41f8-b902-f38e63e46890",
      "credentials": {
        "telegramApi": {
          "id": "mT7zOev9nF5dNieI",
          "name": "Ɔboafoɔ"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1aabc058-3aff-4b01-ae58-c92e913be2e1",
              "leftValue": "={{ $('Save Lead to CRM').item.json['Qualification Status'] }}",
              "rightValue": "Qualified",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        0
      ],
      "id": "cb2c1fa6-aa65-4fed-a010-d23324c60003",
      "name": "Check Lead Qualification"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "thepfdigitalsolutions@gmail.com",
          "mode": "list",
          "cachedResultName": "thepfdigitalsolutions@gmail.com"
        },
        "additionalFields": {
          "description": "={{ $json.result.text }}",
          "summary": "=Sales Call - {{ $('Save Lead to CRM').item.json.Name }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        672,
        -16
      ],
      "id": "8255de13-accb-4d15-9908-6e3b0861d075",
      "name": "Schedule Sales Meeting",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "K465y0QZDaSY5yhF",
          "name": "Google Calendar OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Voice Lead": {
      "main": [
        [
          {
            "node": "Save Lead to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to CRM": {
      "main": [
        [
          {
            "node": "Notify Sales Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Sales Team": {
      "main": [
        [
          {
            "node": "Check Lead Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Lead Qualification": {
      "main": [
        [
          {
            "node": "Schedule Sales Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e145e796-d9ac-4a06-a02f-5dc9a356316d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f9896fef077982d1644a41d1f9c935b26aa7c476f46aabbfe91427e6e7fc308"
  },
  "nodeGroups": [],
  "id": "YJsLrNy8mc8kG4Ap",
  "tags": []
}